# Global owners
* @Percona-Lab/build-engineers

/pmm/ @talhabinrizwan @atymchuk @puneet0191 @Percona-Lab/build-engineers
/IaC/pmm.cd/ @talhabinrizwan @atymchuk @Percona-Lab/build-engineers
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @hrvojem @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @hrvojem @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @hrvojem @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @hrvojem @Percona-Lab/build-engineers
