# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @nmarukovich @jvpasinatto @eleo007 @valmiranogueira @DhruthiKV
/pmm/ @Percona-Lab/build-engineers @ademidoff @talhabinrizwan
/pxb/ @mchawla16 @kaushikpuneet07 @panchal-yash @nogueiraanderson @adivinho
/pxc/ @mchawla16 @kaushikpuneet07 @panchal-yash @nogueiraanderson @adivinho
/ps/ @mchawla16 @kaushikpuneet07 @panchal-yash @nogueiraanderson @adivinho
/pt/ @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @keithquinnpercona @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @keithquinnpercona @Percona-Lab/build-engineers
/ps4m/ @olexandr-havryliak @sandraromanchenko @keithquinnpercona @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @kaushikpuneet07 @nogueiraanderson @adivinho
/pdpxc/ @kaushikpuneet07 @nogueiraanderson @adivinho
/pml/ @olexandr-havryliak @sandraromanchenko @keithquinnpercona @Percona-Lab/build-engineers
/resources/psmdb @olexandr-havryliak @sandraromanchenko @keithquinnpercona @Percona-Lab/build-engineers
